.svg-clear-view-escapes {
	background: url("svg/sprite.css-f302851a.svg") 0 72.73649934452574% no-repeat;
}

.svg-clear-view-escapes-dims {
	width: 142.4px;
	height: 59.53px;
}

.svg-comment {
	background: url("svg/sprite.css-f302851a.svg") 48.669201520912544% 99.79741379310344% no-repeat;
}

.svg-comment-dims {
	width: 64px;
	height: 64px;
}

.svg-facebook {
	background: url("svg/sprite.css-f302851a.svg") 67.50171697681265% 67.71920154336784% no-repeat;
}

.svg-facebook-dims {
	width: 21.23px;
	height: 42.01px;
}

.svg-fire {
	background: url("svg/sprite.css-f302851a.svg") 98.5239852398524% 27.586206896551722% no-repeat;
}

.svg-fire-dims {
	width: 56px;
	height: 64px;
}

.svg-globe {
	background: url("svg/sprite.css-f302851a.svg") 0 99.79741379310344% no-repeat;
}

.svg-globe-dims {
	width: 64px;
	height: 64px;
}

.svg-instagram {
	background: url("svg/sprite.css-f302851a.svg") 93.6874978069406% 66.95539194456474% no-repeat;
}

.svg-instagram-dims {
	width: 42.01px;
	height: 42.01px;
}

.svg-mail {
	background: url("svg/sprite.css-f302851a.svg") 54.14448669201521% 69.35483870967742% no-repeat;
}

.svg-mail-dims {
	width: 64px;
	height: 48px;
}

.svg-rain {
	background: url("svg/sprite.css-f302851a.svg") 73.00380228136882% 99.79741379310344% no-repeat;
}

.svg-rain-dims {
	width: 64px;
	height: 64px;
}

.svg-sprites--css--svg--sprite.css-d675eadb {
	background: url("svg/sprite.css-f302851a.svg") 0 0 no-repeat;
}

.svg-sprites--css--svg--sprite.css-d675eadb-dims {
	width: 267px;
	height: 172px;
}

.svg-star {
	background: url("svg/sprite.css-f302851a.svg") 24.334600760456272% 99.79741379310344% no-repeat;
}

.svg-star-dims {
	width: 64px;
	height: 64px;
}

.svg-twitter {
	background: url("svg/sprite.css-f302851a.svg") 97.01329845214737% 50.405607623848155% no-repeat;
}

.svg-twitter-dims {
	width: 51.78px;
	height: 42.06px;
}

.svg-wifi {
	background: url("svg/sprite.css-f302851a.svg") 100% 0 no-repeat;
}

.svg-wifi-dims {
	width: 60px;
	height: 64px;
}

.svg-youtube {
	background: url("svg/sprite.css-f302851a.svg") 77.88879384088965% 67.71653543307086% no-repeat;
}

.svg-youtube-dims {
	width: 34.75px;
	height: 42px;
}

