.row {

    display: flex;
    margin-left: -.1.25rem;
    margin-right: -.1.25rem;
    flex-wrap: wrap;
    flex-direction: column;

    
    &--t-padding {
        padding-top: 1.5rem;

        @mixin atMedium{
            padding-top: 80px;
        }
    }
    
 /*   @mixin atSmall {
        align-items: center;
    }

    &__small-12 {
        width: 100%;
        padding:;
    }
     */
   

    @mixin atMedium {

        flex-wrap: nowrap;
        flex-direction: row;
       

        &__medium-4 {
            width: 33.33%;
            padding: 1.25rem;
            padding-top: 0;
            padding-bottom: 0;
            
        }
        &__medium-6 {
            width: 50%;
            padding: 1.25rem;
            padding-top: 0;
            padding-bottom: 0;
        }
        

        &__medium-6--large-gutters {
            padding: 2.5rem;
            
        }


        &__medium-4--larger {
            width: 37%;
        }
    
        &__medium-8 {
            width: 66.66%;
            padding: 1.25rem;
           padding-top: 0;
           padding-bottom: 0;
        }

        &__medium-8 {
            width: 63%;
        }

        /* &__medium--gutters {
            padding: 0 2.5rem;
            margin: 0 2.5rem;
        }
 */

    
    }

    @mixin atLarge{

        flex-wrap: nowrap;
        flex-direction: row;

        &__large-4 {
            width: 33.33%;
            padding: 1.25rem;
            padding-top: 0;
            padding-bottom: 0;
            
        }
    }
}


